/* -------------------header------------------ */
.header {
  position: relative;
  padding: 30px 0;
  color: var(--white-color);
  font-size: 18px;
  line-height: 25px;
  background-color: var(--black-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 20px;
  z-index: 1;
}

.header__list {
  display: flex;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 78.3%;
}


.header-nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 908px;
  margin-right: 20px;
  font-weight: 600;
}

.header-nav__link {
  padding: 0 6px;
}

.header__link {
  padding-left: 19px;
  background-image: url(../res/enter.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.header__bottom {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.header-bottom__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;
}

.header-list {
  width: 65.8%;
  justify-content: space-between;
}

.header-list__item {
  padding-right: 14px;
}

.header-list__button {
  position: relative;
  padding-right: 19px;
}

.header-list__button::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 6px;
  width: 7px;
  height: 7px;
  margin-top: -5px;
  border-bottom: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  transform: rotate(45deg);
}

.header-list__button_active::before {
  transform: rotate(-135deg);
  margin-top: 0;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 300px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform .3s ease-out;
}

.dropdown_active {
  transform: scaleY(1);
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link {
  display: block;
  width: 100%;
  padding: 10px 14px
}

.dropdown__link_1-1 { background-image: url(../res/dropdown/dropdown1-1.jpg);}
.dropdown__link_1-2 { background-image: url(../res/dropdown/dropdown1-2.jpg);}
.dropdown__link_1-3 { background-image: url(../res/dropdown/dropdown1-3.jpg);}
.dropdown__link_1-4 { background-image: url(../res/dropdown/dropdown1-4.jpg);}

.dropdown__link_2-1 { background-image: url(../res/dropdown/dropdown2-1.jpg);}
.dropdown__link_2-2 { background-image: url(../res/dropdown/dropdown2-2.jpg);}
.dropdown__link_2-3 { background-image: url(../res/dropdown/dropdown2-3.jpg);}
.dropdown__link_2-4 { background-image: url(../res/dropdown/dropdown2-4.jpg);}

.dropdown__link_3-1 { background-image: url(../res/dropdown/dropdown3-1.jpg);}
.dropdown__link_3-2 { background-image: url(../res/dropdown/dropdown3-2.jpg);}
.dropdown__link_3-3 { background-image: url(../res/dropdown/dropdown3-3.jpg);}
.dropdown__link_3-4 { background-image: url(../res/dropdown/dropdown3-4.jpg);}

.dropdown__link_4-1 { background-image: url(../res/dropdown/dropdown4-1.jpg);}
.dropdown__link_4-2 { background-image: url(../res/dropdown/dropdown4-2.jpg);}
.dropdown__link_4-3 { background-image: url(../res/dropdown/dropdown4-3.jpg);}
.dropdown__link_4-4 { background-image: url(../res/dropdown/dropdown4-4.jpg);}

.dropdown__link_5-1 { background-image: url(../res/dropdown/dropdown5-1.jpg);}
.dropdown__link_5-2 { background-image: url(../res/dropdown/dropdown5-2.jpg);}
.dropdown__link_5-3 { background-image: url(../res/dropdown/dropdown5-3.jpg);}
.dropdown__link_5-4 { background-image: url(../res/dropdown/dropdown5-4.jpg);}

.header__label {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 251px;
}

.search {
  display: block;
  flex: 0 0 23px;
  height: 23px;
  margin-right: 10px;
  background-image: url(../res/search-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 bottom;
}

.header__input {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--white-color);
  opacity: .85;
}

.header__input::placeholder {
  color: var(--white-color);
  font-size: 18px;
  line-height: 25px;
}
