:root {
  --black-color: #000000;
  --gray-dark-color: #333333;
  --grey-light-color: #999999;
  --purple-color: #9d5cd0;
  --purple-light-color: #C283F3;
  --purple-very-light-color: #D1A9F0;
  --purple-dark-color: #7943a4;
  --white-color: #ffffff;
}

html { scroll-behavior: smooth; }

* {
  outline: none;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

input,
button {
  background-color: transparent;
  border: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

button { cursor: pointer; }

.button {
  position: relative;
}

.button::after {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  border-radius: inherit;
  border: 2px solid var(--purple-light-color);
  opacity: 0;
}

.button:focus.button::after {
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--gray-dark-color);
  font-size: 16px;
  line-height: 32px;
  font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.max-width {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding-top: 80px;
}

.title {
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
}

.main__container {
  padding-top: 80px;
  padding-bottom: 70px;
}

.logo {
  width: 173px;
}

.burger {
  display: none;
  position: relative;
  width: 36px;
  height: 28px;
}

.burger__button {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.burger__item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: var(--white-color);
}

.burger__item::before,
.burger__item::after {
  content: '';
  position: absolute;
  left: 0;
  height: 4px;
  background-color: var(--white-color);
}

.burger__item::before {
  width: 85%;
  top: 13px;
}

.burger__item::after {
  width: 70%;
  top: 25px;
}

.about-us__title {
  margin-bottom: 17px;
}

.about-us__text {
  max-width: 1082px;
}


.swiper__top {
  padding-left: 2px;
  display: flex;
  margin-bottom: 27px;
}

.swiper-pagination {
  position: static;
  width: auto;
  margin-right: 20px;
  color: #FFF;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  flex: 0 0 30px;
  height: 30px;
  margin: 0;
  background-color: #666;
  border-radius: 50%;
  z-index: 100;
}

.swiper-button-prev {
  left: 0;
  margin-right: 20px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.swiper-button-prev::after {transform: rotate(45deg);}
.swiper-button-next::after {transform: rotate(-135deg);}

.choices {
  margin: 0;
  padding: 0;
  color: var(--white-color);
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 3px;
}

.choices__inner {
  min-height: auto;
  padding: 3px 15px;
  font-size: 16px;
  line-height: 32px;
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: 6px;
}

.choices__list {
  margin: 0;
  padding: 0;
}

.event {
  margin-bottom: 10px;
}

.event__title {
  margin-bottom: 15px;
}

.event__wrapper {
  flex-wrap: wrap;
}

.event__slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event__slide:nth-child(3n) {
  margin-right: 0;
}

.event__pagination {
  display: none;
}

.article {
  width: 31.2%;
  height: 700px;
  margin-right: 3.2%;
  margin-bottom: 3.2%;
  padding-bottom: 43px;
  flex-direction: column;
  border: 1px solid #CACACA;
}

.article__container {
  display: flex;
  flex-direction: column;
}

.event__slide_hide {
  display: none;
}

.article__image {
  margin-bottom: 13px;
}

.article__content {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 18px;
}

.article__descr {
  margin-bottom: 3px;
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  color: var(--grey-light-color);
  font-size: 12px;
  line-height: 16px;
}

.article__descr-text {
  text-align: right;
}

.article__title {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.article__text {
  max-width: 400px;
}

.article__link {
  margin-left: 50px;
  align-self: start;
  color: var(--purple-color);
  line-height: 24px;
  border-bottom: 1px solid var(--purple-color);
}

.event__button-container {
  display: flex;
  justify-content: center;
}

.event__button {
  padding: 15px 34px;
  border: 2px solid var(--purple-color);
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--purple-color);
}

.editions {
  padding-bottom: 10px;
  background-image: url(../res/editions-background.jpg);
}

.editions__title {
  margin-bottom: 16px;
  color: var(--white-color);
}

.editions__content {
  display: flex;
  justify-content: space-between;
}

.categories {
  color: var(--white-color);
}

.categories__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}

.categories__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}

.categories__checkbox {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.categories__checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.categories__checkbox-input:checked+.categories__checkbox-check::before {
  opacity: 1;
}

.categories__checkbox-input:checked+.categories__checkbox-check {
  border-color: var(--purple-light-color);
}

.categories__checkbox-input:checked~.categories__text {
  color: var(--purple-light-color);;
}

.categories__checkbox-check {
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  border: 1px solid var(--white-color);
}

.categories__checkbox-check::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  background-color: var(--purple-light-color);
  border-radius: 50%;
  opacity: 0;
}

.price__block {
  display: flex;
  padding: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 6px;
}

.price__title {
  font-size: 16px;
  margin-bottom: 8px;
}

.price__label {
  display: flex;
  align-items: center;
}

.price__input {
  width: 73px ;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: rgba(157, 92, 208, 0.5);
}

.cards {
  max-width: 1150px;
  width: 100%;
  margin-top: -46px;
  position: relative;
}

.editions__swiper {
  position: absolute;
  left: -10px;
  right: 0;
}

.editions__slide {
  display: block;
  padding-left: 12px;
  padding-bottom: 12px;
  object-fit: cover;
}

.item {
  color: var(--white-color);
}

.item__img {
  margin-bottom: 25px;
}

.item__descr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 22px;
}

.item__name {
  font-weight: bold;
}

.item__button {
  padding: 7px 24px;
  border: 2px solid var(--purple-color);
  border-radius: 100px;
}

.projects__title {
  margin-bottom: 15px;
}

.projects__text {
  max-width: 1070px;
  margin-bottom: 20px;
}

.projects__link {
  font-weight: 600;
  white-space: nowrap;
  color: var(--purple-color);
}

.symbol {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--purple-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-image: url(../res/symbol.svg);
  transform: translateY(3px);
}

.tooltip {
  width: 264px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 9px 8px;
  background-color: #CACACA;
  position: absolute;
  bottom: 180%;
  left: 50%;
  margin-left: -132px;
  z-index: 1;
  opacity: 0;
  transition: opacity .3s ease-out;
  pointer-events: none;
}

.tooltip::after {
  content: " ";
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: #CACACA transparent transparent transparent;
}

.symbol:hover .tooltip,
.tooltip_active {
  pointer-events: visible;
  opacity: 1;
}

.tooltip.tooltip_active {
  opacity: 0;
  pointer-events: none;
}

.tooltip__close {
  width: 16px;
  height: 16px;
  background-image: url(../res/tooltip-close.svg);
  display: none;
}

.projects__partner-title {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.projects__swiper-container {
  width: 100%;
  margin-right: 44px;
}

.projects__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 10px;
  border: 1px solid #CACACA;
}

/* .projects__img {
  object-fit: scale-down;
  -o-object-fit: scale-down;
  object-position: center;
  -o-object-position: center;
} */

.projects__next,
.projects__prev {
  background-color: #ECECEC;
}

.projects__prev {
  margin-right: 47px;
}

.projects__next::after,
.projects__prev::after {
  border-color: var(--black-color);
}

.projects__next {
  right: 0;
}

.projects__swiper {
  position: relative;
  display: flex;
  align-items: center;
}

.contacts__container {
  padding: 0;
  padding-top: 11px;
  padding-bottom: 125px;
}

.contacts__title {
  padding-left: 20px;
}

.contacts__content {
  padding-top: 140px;
  display: flex;
}

.contacts__content::before {
  position: absolute;
  content: '';
  top: 92px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #CACACA;
  z-index: -100;
}

.form-row {
  width: 25.7%;
  padding-left: 20px;
}

.form-row__title {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 24px;
}

.form-row__address {
  margin-bottom: 27px;
}

.form-row__call-title {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 37px;
}

.form__input {
  width: 100%;
  margin-bottom: 24px;
  padding: 10px 24px;
  border: 1px solid var(--gray-dark-color);
  border-radius: 100px;
}

.form__input_phone {
  margin-bottom: 20px;
}

.form__button {
  padding: 16px 34px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--purple-color);
  border: 2px solid var(--purple-color);
  border-radius: 100px;
}

.contacts__social-title {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 24px;
}

.social {
  display: flex;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  color: var(--white-color);
  font-size: 24px;
  border-radius: 50%;
}

.social__link_whatsapp {
  margin-right: 22px;
  background-color: #30BF39;
}

.social__link_telegram {
  background: linear-gradient(180deg, #2AABEE 0%, #229ED9 99.26%);
}

.map {
  position: absolute;
  top: 92px;

  bottom: 0;
  left: 35.4%;
  right: 0;
  border-left: 1px solid #CACACA;
}

[class*="ymaps-2"][class*="-ground-pane"] {
  -webkit-filter: grayscale(100%);
}

.footer {
  padding: 48px 0;
  background-color: #000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__social {
  display: flex;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 30px;
  color: #000;
  background-color: #CACACA;
  border-radius: 50%;
}

.footer__link:not(:last-child) {
  margin-right: 19px;
}

.footer__link_facebook {
  align-items: flex-end;
  font-size: 38px;
}

@keyframes hero-background {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
